version: '3.8'

services:
  app:
    build: .
    ports:
      - "7860:7860"
      - "8000:8000"
    container_name: TrustCheckAI
    volumes:
      - .:/app

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
    - GF_SMTP_ENABLED=true
    - GF_SMTP_HOST=smtp.gmail.com:587
    - GF_SMTP_USER=harshal27patel
    - GF_SMTP_PASSWORD   # NOT your normal password
    - GF_SMTP_FROM_ADDRESS=harshal27patel@gmail.com
    - GF_SMTP_FROM_NAME=TrustCheckAI Alerts
    - GF_SMTP_STARTTLS_POLICY=Opportunistic
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  grafana-data:
